@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
}

.wave {
    width: 100%;
    height: 50%;
}

main {
    height: 97.5%;
    width: 100%;
    background-color: hsl(225, 100%, 94%);
}

.card {
    width: 28rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.img_container {
    display: flex;
}

.img_container img {
    width: 100%;
    object-fit: contain;
    border-radius: 1.5rem 1.5rem 0 0;
}

.des_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    padding: 3rem;
    border-radius: 0 0 1.5rem 1.5rem;
}

.des_container h1 {
    font-size: 1.75rem;
    font-weight: 900;
    text-align: center;
    color: hsl(223, 47%, 23%);
}

.des_container .main_para {
    text-align: center;
    color: hsl(224, 23%, 55%);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
}

.plan_segment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    padding: 1.5rem;
    border-radius: 0.75rem;
}

.plan_segment .left {
    display: flex;
    align-items: center;
}

.music_icon {
    display: flex;
    margin-right: 1rem;
}

.annual {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
}

.annual .category p {
    font-size: 1.075rem;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.annual .price p {
    color: hsl(224, 23%, 55%);
}

.plan_segment .right span{
    font-weight: 700;
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: 0.2s ease-in-out;
} 

button {
    border: none;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: hsl(245, 75%, 52%);
    padding: 1rem;
    border-radius: 0.75rem;
    margin-block: 1rem;
    box-shadow: 0 1rem 1.5rem hsla(245, 75%, 52%, 0.3);
    transition: 0.2s ease-in-out;
    
}

.cancel {
    font-weight: 700;
    color: hsl(224, 23%, 55%);
    text-align: center;
    transition: 0.2s ease-in-out;
}

.right span:hover {
    text-decoration: none;
    color: hsla(245, 72%, 53%, 0.61);
    cursor: pointer;
}

button:hover {
    background-color: hsla(245, 72%, 53%, 0.61);
    cursor: pointer;
}

.cancel:hover {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    cursor: pointer;
}